h1 {
  color: blue;
}
h2 {
  color: green;
}
body {
  background-color: lightgrey;
  font-family: sans-serif;
}
.Sidebar {
  float: right;
  width: 20%;
}
.about {
  float: left;
  width: 80%;
}
.Sidebar img {
  width: 15em;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0.3em 0.3em 0.2em green;
}
