h1 {
  color: green;
}
h2 {
  color: green;
}
body {
  background-color: lightgrey;
  font-family: sans-serif;
}
.about {
  float: left;
  width: 80%;
}

.Sidebar {
  background-color: pink;
  float: right;
  width: 20%;
}

.Sidebar img {
  border-radius: 10px;
  padding: 5px;
  height: 265px;
  width: 14em;
}
.text-box {
  border: 2px solid black;
  padding: 5px;
  margin: 2px;
}
