h1 {
  color: green;
}
h2 {
  color: green;
}
body {
  background-color: lightgrey;
  font-family: sans-serif;
}
.about {
  float: left;
  width: 80%;
}

.Sidebar {
  float: right;
  width: 20%;
}

.Sidebar img {
  border-radius: 10px;
  box-shadow: 0.4em 0.2em 0.4em green;
  height: 300px;
  width: 15em;
}
